body {
  background-image: url(/images-ia/kawe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x:hidden ;
}
* {
    margin: 0;
    padding: 0;
    
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2; /* Define uma ordem de empilhamento maior para o botão do WhatsApp */
}

.lista-cidades-sp {
  display: flex;
  flex-direction: column;
  
}

.texto-turistico li {
    word-spacing: -2px;
    font-family: 'Montserrat', sans-serif;
    color: #242873;
}
/* AnteriorÇ  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
figure{
	opacity: 1;
	transition: 400ms;
	
}

.figure-campos-jordao {
  border: rgba(0, 0, 0, 0.1);
  padding: 7;
  

}

.imagem-sao-roque{
  width: 300;
  height: 300;
}

.informacao-cidades {
 margin-left: 70px;
 margin-top: 20;
 margin-right: 8%;
 display: block;

}

.aside-cidades-pontos {
  overflow: scroll;
  max-width: 720px;
  height: 600px;
}

.pontos-turisticos {
  padding: 10px;
}
.pontos-turisticos {
    word-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #242873;
}

.clima {
  padding: 10px;
}

/* .clima p, strong, {
    word-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #242873;
} */

.dicas {
  padding: 10px;
}

.dicas li {
  word-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #242873;
}

.eventos{
  padding: 10px;
}

.eventos li {
  word-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #242873;
}
p {
    word-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #242873;

  
}

h1 {
    word-spacing: -2px;
    font-family: 'Montserrat', sans-serif;
    color: #242873;
}



a {
    text-decoration: none;
    color: #242873;
    
}


a:hover {
    background-color:  #f2dfbb;
    border-radius: 16px;
}


header p:hover{
  background-color: #ecd5a9;
  transition: all;
}

.logo {
  
}
.logo img{
  width: 60px;
  height: 60px;
}

.location-link {
  display: flex;
  align-items: center;
}


i#burguer {
  background:none;
  color: #242873;
  display: block;
  text-align: center ;
  padding: 10px;
  cursor: pointer;

}

i#burguer:hover {
  background-color: #f2dfbb;
  color:#242873;
}
.text {
    text-shadow: 10px 15px 7px rgba(0, 0, 0, 0.46), -1px -1px 10px rgba(255,255,255,0.3);
    color:  #242873;
    font-size: 32px;
}

.destaque {
    text-shadow: 10px 15px 7px rgba(0, 0, 0, 0.46), -1px -1px 10px rgba(255,255,255,0.3);
    color: #333;
    font-size: 26px;
    font-family: 'Foldit', cursive;
}


hr {
  border: none; 
  height: 2px;
  background-color: #242873; 
  margin: 20px 0;
}



.formulario-consulta {
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
  padding: 0px;
}

.foto-hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  

}

aside {
  max-width:50%;
  margin: 0 auto;
  padding: 20px;
  
  
}

.aside-cidades {
  max-width: 1200px;
  margin: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;

}

.text-cidades-cidades {
  margin: 10%;
}

.lista-cidades-cidade {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  list-style: none;
  padding: 10px;
  margin: 10%;
}

.lista-cidades-cidade li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.lista-cidades-cidade li a {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
}

.lista-cidades-cidade li a h2 {
  margin-right: 10px;
}

.lista-cidades-cidade li a .btn-pesquisar {
  margin-left: auto;
}

.imagem-cidades {
  width: 800px;
  height: 600px;
}

  
  .copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
    bottom: 0;
  }

  /*CSS do Copyright*/

  .copyright {
    color: #0000;
    font-size: 13px;
    margin: 20px 0 0;
  }

  /*CSS da Página de Contato*/

  form {
    margin: 40px 0;
  }
  form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
  }
  .input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25 px;
    width: 50%;
  }
  .checkbox {
    margin: 20px 0;
  }
  .enviar {
    width: 40%;
    padding: 15px 0;
    background: #78bfa5;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;
  }
  .enviar:hover {
    background: #78bfa9;
    transform: scale(1.1);
  }

  .imagem-cidades-rio {
    width: 800px;
    height: 800px;
    margin: 0%;
  }

  @media screen and (max-width: 768px) {
    .slick {
      width: 330px;
      height: 330px;
      align-items: center;
      align-content: center;
    }
    .hero {
      flex-direction: column;
      align-items: center;
    }

    .informacao-cidades{
      margin: 15%;
    }
    .hero h2 {
      text-align: center;
      padding: 3%;
    }

    .informacao-cidades h2, p {
      text-align: center;
      padding: 3%;

    }
    .formulario-consulta {
      width: 100%;
    }
  
    .texto-hero {
      text-align: center;
    }
  
    .aside-cidades {
      padding: 20px;
    }
  
    .lista-cidades-cidade {
      justify-content: center;
    }
    .whatsapp-button {
      position: fixed;
      bottom: 20px;
      white-space: 20px;
      z-index: 2;
      display: block;
    }
    .imagem-cidades {
      width: 368px;
      height: 368px;
      align-items: center;
      align-content: center;
    }
    .imagem-sao-roque{
      width: 330px;
      height: 330px;
      align-items: center;
      align-content: center;
    }
    .imagem-cidades-rio {
      width: 330px;
      height: 330px;
      align-items: center;
      align-content: center;
    }
    .imagem-cidades-minas {
      width: 330px;
      height: 330px;
      align-items: center;
      align-content: center;
    }
  }   

/* Anterior: https://colab.research.google.com/drive/1fMmfE1V5u-ZYlmemS_iT-_SJ-M6QAHec?usp=sharing */

/* regras slick */

.slick {
  
}

span#arrow {
  margin-top: 0;
  display: block;
  background-color: #78bfa5;
  color: #ecd5a9;
  text-align:center;
  padding: 10px;
  cursor: pointer;
  max-width:100%;
  width: 100%;
  position: relative;
  z-index: 999;
}
span#arrow:hover {
  background-color: #7daf9c;
  color:#ecd5a9

}

.itens-menu{
  display: flex;
  background-color: #ecd5a9;
  
}

/* ========================================================= */

.header-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lista-endereco-contato{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background-color: #78bfa5;
  padding-left: 70px;
  padding-right: 70px;
}

.contato-cabecalho{
  display: flex;
  align-items: center;
  color: #242873;

 
}

.endereco{
  display: flex;
  align-items: center;
}

.nav-index{
  display: flex;
  justify-content: center;
  height: 7vh;
  background-color: #ecd5a9;
  border-radius: 10px;
  transition: max-height 1ms ease;
  margin-left:100px ;
  margin-right: 100px;
  border-style: outset;
  border-width: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 77px;
  left: 20vh;
  width: 70%;
  padding: 10px;
  z-index: 1;
}

.material-symbols-outlined{
  z-index: 2;
}

.button-header{
  display: flex;
  justify-content: center;
  background-color: #78bfa5;
  border-radius: 10px;
  height: 10px;
  position: relative;
  color: #242873;
  cursor: pointer;
}

menu {
  display: none;
}

.btn-pesquisar {
  background-color: #242873; 
  color: #ffffff; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 14px;
  cursor: pointer;
  height: 6vh; 

}

.btn-pesquisar:hover {
  background-color: gray; /* Define a cor de fundo do botão ao passar o mouse */
}

.grid {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 20px;
}


.hero {
 
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  background-color: #ecd5a9;
  background-size: cover;
  opacity: 0.95;
  border: 0;
  padding-left: 70px;
  padding-right: 70px;
  max-width:100%;

}

.hero-in{
  display: flex;
  flex-direction: column;
  margin: 10vh;
  border-style: outset;
  border-width: 2px;
  padding: 20px;
  border-radius: 20px;
  border-color: #242873;

}
.hero-in:hover {
  box-shadow: 1px 3px 8px 1px #78bfa5;
  background-color: #eed3a1;
}

.titulo-hero {
  font-size: 20px;
  word-spacing: 10px;
  font-family: 'Montserrat';
  color: #242873; 
  font-weight: bold;
  margin: 10px;
  
}

.texto-hero {
  align-items: start;
  word-spacing: 2px;
  font-weight: lighter;
  margin: 20px;
  font-family: 'Montserrat',cursive;
  font-size: 13px;
  line-height: 150%;
  
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #78bfa5;
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 1999;
  bottom: 0;
  left: 0;
}

#btn-busca-index{
  background-color: #78bfa5;
  width: 100px;
  height: 44px;
  margin-top: 10px;
  color: #242873;
}

#btn-busca-index:hover{
  background-color: #8dbdb1;
  border: 1px solid #78bfa5;
}

.container-formulatio{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 30px 0 0 0;
}

#cidade {
  margin-right: 40px;
  background-color: #78bfa5;
  height: 25px;
  border-radius: 8px;
  border: 1px solid transparent;
  width: 200px;
  padding: 9px 9px; 
  color: #242873;
}


