body {
  background-image: url(img/praia-fundo.jpg);
  
}
* {
    margin: 0;
    padding: 0;
    
}

figure{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p {
    word-spacing: 5px;
  
}

h1 {
    word-spacing: -2px;
    font-family: 'Montserrat', sans-serif;
    color: #242873;
}

h2 {
    word-spacing: -2px;
    font-family: 'Montserrat', sans-serif;
    color: #242873;
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 20px; 
}

a {
    text-decoration: none;
    color: #242873;
    
}


a:hover {
    background-color:  #f2dfbb;
}


/* Define o elemento como um container flexível e orienta os itens na horizontal */
.cabecalho {
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50;
    background-color: #78bfa5
}

  /* .endereco-cabecalho {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin: right 0;
    padding: 0;
  }
   */

  
  /* .links-cabecalho {
    display: flex;
    justify-content:left; 
    align-items:flex-end ; 
    flex-direction: column; 
    margin-left: 30px;
    padding: 0; 
    list-style: none; 
    font-size: 12px;
  } */

  /* .links-cabecalho li {
    display: inline-block;
    margin-right: 0 50px;
  } */
  
  /* .links-cabecalho li:last-child {
    margin-right: 0;
  } */
  

/* .links-cabecalho a {
    text-decoration: none;
} */


/* .lista-endereco {
    display: flex;
    list-style: none;
    white-space: nowrap;
    display: flex;
    flex-direction: row;  
    justify-content: center; 
    align-items: center; 
    padding: 0;
    color: #242873;
} */


/* .contato-cabecalho {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 8%;
    white-space: nowrap;
    right: 0%;
    left: 10%;
    position: relative;
} */


.text {
    text-shadow: 10px 15px 7px rgba(0, 0, 0, 0.46), -1px -1px 10px rgba(255,255,255,0.3);
    color:  #242873;
    font-size: 32px;
}

.destaque {
    text-shadow: 10px 15px 7px rgba(0, 0, 0, 0.46), -1px -1px 10px rgba(255,255,255,0.3);
    color: #333;
    font-size: 26px;
    font-family: 'Foldit', cursive;
}

.hero {
 
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  background-color: #f2dfbb;
  border: 0;
  padding: 70px;
  margin-top: px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

hr {
  border: none; 
  height: 2px;
  background-color: #242873; 
  margin: 20px 0;
}


.titulo-hero {
  font-family: 'Foldit', cursive;
  font-size: 28px;
}

.texto-hero {
  margin: 2px;
  font-family: 'Foldit', cursive;
  font-size: 12px;
  line-height: 150%;
  

}

.formulario-consulta {
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
  padding: 0px;
}

.btn-pesquisar {
  background-color: #242873; 
  color: #ffffff; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px;
  cursor: pointer; 

}

.btn-pesquisar:hover {
  background-color: gray; /* Define a cor de fundo do botão ao passar o mouse */
}

.foto-hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  

}

aside {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
  
}

.imagem-cidades {
  width: 800px;
  height: 600px;
}

/* Mexi no width: 2%; top: 30px e left: 93%. */

  /*CSS do HEADER*/

  /* .endereco-cabecalho ul {
    display: inline;
    margin: 0 0 0 15px;
  } */

  /*CSS do FOOTER*/

  footer {
    text-align: center;
    background: #78bfa5; /*url("/img/verde_agua.jpg");*/
    padding: 40px 0;
    display: flex;
    width: 100%;
    height: 50;
    align-items: center;
    justify-content: center;
    margin-top: 11.5%;
  }
  .copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
  }

  /*CSS do Copyright*/

  .copyright {
    color: #0000;
    font-size: 13px;
    margin: 20px 0 0;
  }

  /*CSS da Página de Contato*/

  form {
    margin: 40px 0;
  }
  form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
  }
  .input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25 px;
    width: 50%;
  }
  .checkbox {
    margin: 20px 0;
  }
  .enviar {
    width: 40%;
    padding: 15px 0;
    background: #78bfa5;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;
  }
  .enviar:hover {
    background: #78bfa9;
    transform: scale(1.1);
  }
